<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Sala de Juegos</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/">Home</a>
      
      <div *ngIf="userLogueado | async as user">
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" routerLink="/chat">Chat</a>
        </nav>
      </div>
    </nav>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white" *ngIf="userLogueado | async as user; else login">
      <h5 class="my-0 mr-md-auto font-weight-normal">Bienvenidx <i>{{ (userLogueado | async)?.email}}</i> !!  </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" (click)='Logout()'>Logout</a>
        </nav> 
    </div>
    <ng-template #login>
      <a class="btn btn-outline-primary" routerLink="/login">Login</a>
      <a class="btn btn-outline-primary" routerLink="/registro">Registrarse</a>
    </ng-template>
  </div>

  <div class="pricing-header mx-auto text-center">
    <h1 class="display-4">Quien soy?</h1>
    <hr>

  </div>

  <div id ="quiwn"class="container-fluid bg-1 text-center">

    <div class="row justify-content-around form">
      <div class= "col-6">
        <img src="../../../assets/imagenes/fotoCarnetadw.jpg" class="img-responsive img-circle margin marginTop" style="display:inline" alt="Bird" width="350" height="350">
      </div>
      <div class= "col-6">
        <h3 class="margin">Quién Soy?</h3>
        <h3 class="margin"><small class="text-muted">Soy</small> Andrés Wüthrich,<small class="text-muted"> alumno de la UTN FRA</small></h3>
        <br>
        <h3 class="margin">Simón dice</h3>
        <h3 class="margin"><small class="text-muted">Juego de memoria visual para jugar sólo o entre varios. Consiste en recordar secuencia de colores y repetirlas en el orden correcto.</small></h3>
      </div>
    </div>
  </div>
  
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
      produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>
  
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1adw.jpg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2adw.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3adw.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <footer class="container-fluid bg-4 text-center">
    <p>Creado por <a href="https://www.wuthrich.com.ar">www.wuthrich.com.ar</a></p> 
  </footer>


</body>





  
