html { font-size: 14px;}

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container { max-width: 960px;}
  
  .pricing-header { max-width: 700px;}
  
  .card-deck .card { min-width: 220px;}
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    
body{ font-family:'Gill Sans';}

.body{
position: relative;
background-color: lightseagreen;
z-index: 1;
}
.body:before{
content: "";
position: absolute;
z-index: -1;
background-image:url('../../../assets/imagenes/games5.png');
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: .05;
}

.imagenDeQuienSoy{ width: 100%;}
/* body {
    line-height: 1.8;
    color: #f5f6f7;
} */
p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
