<body>
    <div class="container">
      
      <div class="hero-text"> <!--style="text-align:center">-->
        <h3>Home</h3>
      </div>

      <div>
        <a routerLink="/quiensoy">Quien soy?</a>
        <br>
        <a routerLink="/login">Login</a>
        <br>
        <a routerLink="/registro">Registro</a>
        <br>
        <a routerLink="/tateti">Tateti</a>
        <br>
        <a routerLink="/ppt">Piedra papel o tijera</a>
        <br>
        <a routerLink="/memotest">Memotest</a>
    </div>
    
          
     <div class= "row justify-content-around">
          <div class= "col-sm-6 col-lg-3">
            <div class="card text-center h-100">        
                        <img src="./assets/imagenes/saladejuegosadw.jpg" class="card-img-top">
                  <div class="card-body">
                    <a routerLink="/Juegos">Juegos</a>
                    <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
                  </div>
            </div> 
          </div> 
    
          <div class= "col-sm-6 col-lg-3">
            <div class="card text-center h-100">        
        
                          <img src="./assets/imagenes/listadoadw.jpg" class="card-img-top">
                      <div class="card-body">
                        <a routerLink="/Listado">Listado de resultados</a>
                        <p class="card-text">Los listados de los resultados con ordenamiento y busqueda</p>
                      </div>
            </div> 
          </div> 
          <!-- <div class= "col-sm-6 col-lg-3">
            <div class="card text-center h-100">        
        
                        <img src="./assets/imagenes/configuracionadw.jpg" class="card-img-top">
                    <div class="card-body">
                      <a routerLink="/Juegos">Configuraci&oacute;n</a>
                      <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
                    </div>
                 
            </div> 
          </div>  -->
          <!-- <div class= "col-sm-6 col-lg-3">
            <div class="card text-center h-100">        
                        <img src="./assets/imagenes/jugadoresadw.jpg" class="card-img-top">
                    <div class="card-body">
                      <a routerLink="/Jugadores">Jugadores</a>
                      <p class="card-text">Listado de jugadores</p>
                    </div>
                 
            </div> 
          </div>  -->
    </div>