<p>tateti works!</p>
<a routerLink="/">Home</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    <!-- {{nuevoJuego.nombre}}! -->
  </h1>
 </div>
<h2></h2>

<form name="juego">
    <!-- <li>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(0,0)">{{posiciones[0][0]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(0,1)">{{posiciones[0][1]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(0,2)">{{posiciones[0][2]}}</button>
        <br>
    </li>
    <li>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(1,0)">{{posiciones[1][0]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(1,1)">{{posiciones[1][1]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(1,2)">{{posiciones[1][2]}}</button>
        <br>
    </li>
    <li>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(2,0)">{{posiciones[2][0]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(2,1)">{{posiciones[2][1]}}</button>
        <button mat-raised-button [disabled]="ganador" class="button btn btn-info btn-lg" (click)="presion(2,2)">{{posiciones[2][2]}}</button>
    </li> -->

    <li>
        <button mat-raised-button class="button btn btn-info btn-lg" ></button>
        <button mat-raised-button class="button btn btn-info btn-lg" ></button>
        <button mat-raised-button class="button btn btn-info btn-lg" ></button>
        <br>
    </li>
    <li>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
        <br>
    </li>
    <li>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
        <button mat-raised-button class="button btn btn-info btn-lg"></button>
    </li>

    <!-- <li>
        <button [hidden]="!ganador" class="btn btn-success btn-lg" (click)="nuevoTateti()">Nuevo</button>
    </li>
    <li>
        <button [hidden]="!empate" class="btn btn-success btn-lg" (click)="nuevoTateti()">Nuevo</button>
    </li>

    <h3 [hidden]="!ganoO">Ganó O</h3>
    <h3 [hidden]="!ganoX">Ganó X</h3> 
    <h3 [hidden]="!empate">Empate</h3>  -->
</form>
