.container {
    max-width: 600px;
    padding: 60px;

    /* SHADOW */
    -webkit-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
}

.formulario div[class^="col-md-"] { height: 90px;}

.invalid { color: red;}

body{ font-family:'Gill Sans';}

.body{
position: relative;
background-color:lightyellow;
z-index: 1;
}
.body:before{
content: "";
position: absolute;
z-index: -1;
background-image:url('../../../assets/imagenes/games5.png');
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: .05;
}
