form{
    border: 10px solid #f1f1f1;
    padding: 10px;
    background:gray;
    /* background-image:url('../../../assets/imagenes/backTron2adw.png'); */
}
 
button {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover { opacity: 0.8;}

body{ font-family:'Gill Sans';}

.body{
position: relative;
/* background-color: lightsalmon; */
z-index: 1;
}
.body:before{
content: "";
position: absolute;
z-index: -1;
background-image:url('../../../assets/imagenes/games5.png');
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: .05;
}