<!-- <a routerLink="/">Home</a> -->

<body class="text-center">
  <div>
    <!-- <div  *ngIf="!(auth.usuario | async)"> CON ESTO NO ANDA-->
      <!-- <form class="form-signin"> -->
    <img class="mb-4" src="./assets/imagenes/loginadw.jpg " alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
    
    <div class="row justify-content-around form">
      <div class= "col-11">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email" required autofocus>
      </div>
      <div class= "col-1">
        <button class="btn btn-lg btn-warning" (click)="Autocompletar()">Autocompletar</button>
      </div>
    </div>

    <div class= "col-11">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Contraseña" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordar mis datos
        </label>
      </div>
    </div>

    <div class="container">
      <button class="btn btn-lg btn-primary" type="submit" style="margin: 5px" (click)="Ingresar()">Ingresar</button>
      
      <button class="btn btn-lg btn-danger" style="margin: 5px" routerLink="/">Cancelar</button>
      <br>
      <button class="btn btn-lg btn-success" type="submit" style="margin: 5px" routerLink="/registro">Registrarse</button>

<!--      <span class="psw">Te olvidaste <a href="#">la clave?</a></span> -->
    </div>
  </div>
  <!-- </form> -->
</body>




<!-- 
<div class="container" >
    <div class="row justify-content-around form">
   -->
        <!-- <div class= "col-6">
  
          <div class="imgcontainer">
            <img src="./assets/imagenes/loginadw.jpg" alt="Avatar" class="avatar" max-width="104" >
          </div>
  
        </div> -->
  
        <!-- <div class= "col-6">
  
          <div class="container">
            <label><b>Usuario</b></label> -->
            <!-- <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required> -->
            <!-- <input type="text" placeholder="Usuario" name="uname" required>
            <br>
  
            <label><b>Clave</b></label> -->
            <!-- <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required> -->
            <!-- <input type="password" placeholder="Clave" name="psw" required>
            <br> -->

            <!-- <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
          
            <div *ngIf="!logeando" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
                  {{progresoMensaje}} - {{progreso}}%
                </div>
            </div> -->
          
            <!-- <label>
              <input type="checkbox" checked="checked"> Recordar mis datos
            </label>
          </div>
  
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" routerLink="/">Cancelar</button>
            <button type="button" class="aceptbtn" routerLink="/registro" >Registrarse</button>
            <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
          </div>
  
        </div>
        
    </div>
  </div> -->