<body class="body">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Sala de Juegos</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" routerLink="/">Home</a>
          <a class="p-2 text-dark" routerLink="/juegos">Juegos</a>
          <a class="p-2 text-dark" routerLink="/quiensoy">Quien soy?</a>
          <a class="p-2 text-dark" href="https://github.com/AndresWuthrich/saladejuegosadw">en GitHub</a>

          <div *ngIf="userLogueado | async as user">
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" routerLink="/chat">Chat</a>
            </nav>
          </div>
        </nav>
    
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" *ngIf="userLogueado | async as user; else login">
            <h5 class="my-0 mr-md-auto font-weight-normal"><i>{{ (userLogueado | async)?.email}}</i> </h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="btn btn-outline-primary" (click)='Logout()'>Logout</a>
              </nav> 
          </div>
          <ng-template #login>
            <a class="btn btn-outline-primary" routerLink="/login">Login</a>
            <a class="btn btn-outline-primary" routerLink="/registro">Registrarse</a>
          </ng-template>
      </div>
    
      <div class="pricing-header mx-auto text-center">
        <h1 class="display-4">Memotest</h1>    
        <hr>
    </div>
  

    <div class="container mt-5 hoja">
      <h3 class="mb-2">Te quedan {{intentos}} intentos de 14 totales</h3>
      <div class="row mb-2 auxMt">
          <div class="col-3" *ngFor="let item of arrayFichas;" id="wrapper">
              
              <!-- <p>idUnico: {{item.idUnico}}</p> -->
              <img src="{{item.imagen}}" class="disenio bloque" alt="" id="{{item.idUnico}}" (click)="control(item)">
          </div>
      </div>
    </div>
<!-- 

      <div class="container">
        <div class="row">

        </div>
          <div class="juego">
            <div class="row">
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/jessie.jpg">
              </div>
              <div class="col tarjeta">
                <img class="mx-auto d-block" src="../../../assets/imagenes/jessie.jpg">
              </div>
             <div class="col tarjeta">
                <img class="mx-auto d-block" src="../../../assets/imagenes/forky.jpg">
              </div>
              <div class="col tarjeta">
                <img class="mx-auto d-block" src="../../../assets/imagenes/forky.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/tocino.jpg">
              </div>
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/tocino.jpg">
              </div>
              <div class="mx-auto d-block" class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/woody.jpg">
              </div>
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/woody.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/buzz.jpg">
              </div>
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/buzz.jpg">
              </div>
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/rex.jpg">
              </div>
              <div class="col">
                <img class="mx-auto d-block" src="../../../assets/imagenes/rex.jpg">
              </div> 
            </div>
          </div>
        </div> -->
</body>